{% extends "base.html" %}

{% block title %}
Библиотека
{% endblock %}

{% block body %}
<div class="container">
  {% for post in  posts%}
    <div class="row justify-content-center align-items-center">
        <div class="col-10  bg bg-light border border-3 rounded rounded-2">
            <span class = "border bg bg-success rounded-pill">
                {{post.date}}
            </span>
            <p></p>
            <p>{{post.title}}</p>
            <p>{{post.intro}}</p>
            <button class="btn btn-outline-secondary" link="#">Подробнее</button>
        </div>
    </div>
  {% endfor %}
</div>

{% endblock %}