{% extends 'base.html' %}

{% block title %}
Редактирование
{% endblock %}


{% block body %}
<div class="row justify-content-center align-items-center">
        <div class="col-10 offset offset-1 bg bg-light border border-3 rounded-3">
            <div class="container">
                <p></p>
                <p></p>
                <h1 aligin="center">Редактировать запись</h1>
                <p></p>
                <form method="post">
                    <input type="text" name="title" id="title" class="form-control" value="{{post.title}}" placeholder="Введите название статьи"><br>
                    <textarea name="intro" id="intro" class="form-control"  placeholder="Введите вступление">{{post.intro}}</textarea><br>
                    <textarea name="text" id="text" class="form-control" placeholder="Введите текст статьи">{{post.text}}</textarea><br>
                    <input type="submit" class="btn btn-outline-dark" value="Сохраниь"><p></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}